body {
  background: #f2f2f2;
  margin: 0;
  padding: 0px;
  outline: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  margin-top: 80px;
}
header {
  position: fixed;
  flex-wrap: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav {
  background: #94b1df;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  letter-spacing: -2px;
}
nav .nav-items {
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0 0 0 40px;
}

nav .nav-items li {
  padding: 0 15px;
}
nav .nav-items li a {
  color: rgb(151, 177, 237);
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}

nav .nav-items li a:hover {
  color: #ff3d00;
}
nav form {
  display: flex;
  height: 40px;
  border-radius: 2px;
  padding: 2px;

  background: #94b1df;
  min-width: 18% !important;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  color: #94b1df;
  font-weight: 500;
  background: #f2f2f2;
  border: none;
  font-size: 17px;
}
nav form button {
  padding: 0 30px;
  background: #7695e0;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 2px;
}
/* nav .menu-icon,
nav .search-icon,
nav .cancel-icon {
  width: 40px;
  color: #fff;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  cursor: pointer;
  display: none;
} */

/* nav .menu-icon span,
nav .search-icon,
nav .cancel-icon {
  display: none;
} */

/* @media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 780px) {
  nav {
    padding: 0px;
  } */
/* nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 90;
    top: 70px;
    width: 100%;
    height: 100%;
    background: #5757e1;
    display: inline-block;
    padding: 10px 50px px 50px;
    text-align: center;
  } */
/* nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    display: none;
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
  }
}  */

/* from movie data */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 20px;
  margin-top: 0px;
}
.container-item {
  height: auto;
  width: 300px;
  padding: 10px;
  border: 4px;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: rgb(225, 230, 230);
}

img {
  object-fit: cover;
  height: 375px;
  width: 300px;
  border-radius: 5px;
}
#explain {
  padding: 1rem;
}

/* menu bar nav  for desktop */
/* @media screen and (max-width: 1440px) {
  header {
    height: 70px;
  }
} */
